
<div class="team">
    <div style="width:100%;height:50px;" id="map_canvas">Sign up with your e-mail address!</div>
    <div style="width:100%;height:100%;">
		<div style="width:100%;height:50px;">
			<div>Your Email Adress:</div>
			<input type="text" id="adminEmail" placeholder="youremail@yourcompany.com" value="mcote@cortexmedia.ca" />
			
		</div>
		<div style="width:100%;height:50px;">
			<div>Your Team Name:</div>
			<input type="text" id="teamName" placeholder="yourcompany" value="Cortex"/>
		</div>
		<div id="createAccount" style="background-color:hotpink; width:60px; height:30px;">Create Account</div>
	</div>
</div>
