// Import global css to use for all projects */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body, html, * {
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-size: 18px;
}

input {
	font-size: 18px;
	padding: 5px;
}

#loading {
    width: 24px;
    height: 24px;
    background: url(../img/loading.gif) no-repeat center center;
}

.unselectable {
	pointer-events: none;
}
.buttonContainer{
	float:left;
	width: 100%;
	margin: 7px;
}
.button{
	cursor: pointer;
	width: 120px;
	background-color: hotpink;
}

.grid-item { 
	width: 200px;
	height: 250px;
	overflow-y: hidden;
	background-color: none;
	padding: 10px;
}
.grid-item-selected {
	height: 250px;
	overflow-y: hidden;
	background-color: #f0f0f0;
	border: 1px solid #CCCCCC;
	padding: 10px;
	
	.book-data {
		padding-left: 208px; 
		height:auto; 
		visibility:hidden;
	}
}