// Import global css to use for all projects */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

#loading {
    width: 24px;
    height: 24px;
    background: url(../img/loading.gif) no-repeat center center;
}

.unselectable {
	pointer-events: none;
}
.buttonContainer{
	float:left;
	width: 100%;
	margin: 7px;
}
.button{
	cursor: pointer;
	width: 120px;
	background-color: hotpink;
}
.evaluationNameCollum{
	width:25%;
}
.evaluationCommentCollum{
	width:26%;
}
.evaluationEvaluateCollum{
	width:85px;
}
.evaluationDeleteCollum{
	width:13px;
}
.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }